*{
	box-sizing: border-box;
}
.row {
  margin-left: -25px;
    margin-right: 0; 
 
}
.wrapper {
	width: 960px;
	position:relative;
	margin:0 auto 0 auto;
}
body {
	background-image: url("../images/bindinglight.png");
}
.navbar-brand {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color:white !important;
	text-align: center;
	padding-top:20px;
	bottom: 0;
	left: 0;
	height: 60px;
	width: 400px;
	background-color: #4aaaa5;
	display: inline;
	font-size: 30px;
	font-weight:bold;
}
.navbar-default{
    background-color: #ffffff;
}
nav {
  background-color: #ffffff;
  padding-top: 10px;
  padding-right: 30px;
  width: 100;
	
}
nav ul {
    list-style:none;
}
nav ul li {
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 	color:#777777;
  display:inline-block;
}
 #main-bio,
 #contact-me,
 #bio-image {
 	margin-top: 5px;
    float: left;
 }
 .panel-body{
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color:#777777;
  line-height: 1.5;
  padding: 0 25px 20px 25px;
  margin-left: 0;
  background-color: #ffffff;

 }
 
 h2{
  margin-left: 15px;
 	padding-top: 20px;
 	padding-bottom: 0;
 	color: #4aaaa5;
 	font-size: 28px;
 	font-weight: bold;
 	font-family: 'Georgia', Times, Times New Roman, serif;
 }
 h3{
 font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #4aaaa5;
  font-size: 22px;
  margin-left: 30px;
 	font-size: 20px;
 	font-weight: bold;
 	padding-top: 20px;
 }

 #bio-image {
   width: 200px;
   height: 200px;
   margin-right: 20px;
   margin-top: -5px;
 }
.footer, .push{
  height: 385px;
}

footer {	
  margin-top: 180px;
  width: 105%;
  position: absolute;
 	height:84px;
  padding-top:30px;
 	background:#666666;
  color: rgb(204, 204, 204);
  font-weight:bold;
  font-size:12px;
  text-align:center;
 	border-top-width: 7px;
	border-top-style: solid;
	border-top-color: #4aaaa5;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

hr {
   border: 1.2px solid #cccccc;
   margin-bottom:30px;
}
a {
	color: #777777;
	text-decoration: none;
}
/* unvisited link */
a:link {
    color: #777777;
	text-decoration: none;
}
/* visited link */
a:visited {
   color: #777777;
}
/* mouse over link */
a:hover {
   color: #777777;
}
/* selected link */
a:active {
   color: #777777;
} 
input[type=text], select, textarea {
    width: 100%;
    font-size: 16px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit] {
   	background-color: #4aaaa5;
    color: white;
    font-size: 20px;
    padding: 12px 30px;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    margin-top: 5px;
}
label{
	font-size: 20px;
}
.container {
  padding-right: 0;
  width: 100%;
 
  margin: 0 auto; /* to center the container */
}
h4 {
 font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
  font-size: 22px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  color: #fff;
  text-align: center;
  background: #4aaaa5;
  border-bottom: 0;
}
.thumbnail{
  position: relative;
  padding: 0;
}


.col-md-4{
  padding-right:0;
}
.clear { clear: both; height: 60px; }